<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesac.sesacspring.mybatis.mapper.BoardMapper">
    <select id="getBoardAll" resultType="com.sesac.sesacspring.mybatis.domain.Board">
        SELECT * FROM board
    </select>
    <insert id="insertBoard" parameterType="com.sesac.sesacspring.mybatis.domain.Board">
        INSERT INTO board(title, content, writer)
        VALUES(#{title}, #{content}, #{writer})
    </insert>
    <update id="patchBoard" parameterType="com.sesac.sesacspring.mybatis.domain.Board">
        UPDATE board SET title=#{title}, content=#{content}, writer=#{writer}
        WHERE id = #{id}
    </update>
    <delete id="deleteBoard" parameterType="Integer">
        DELETE FROM board WHERE id=#{id}
    </delete>

    <select id="searchBoard"
            parameterType="String"
            resultType="com.sesac.sesacspring.mybatis.domain.Board">
    <!--        동적 쿼리 생성       -->
    <!--        조건 1. 검색어가 없으면 전체 검색 (SELECT * FROM board)      -->
    <!--        조건 2. 검색어가 있으면 검색어와 제목이 일치하는 것 (where title = #{word})       -->
    <!--        SELECT * FROM board WHERE title = #{word})       -->
        SELECT * FROM board
        <where>
            <if test="word != ''">
                AND title=#{word}
            </if>
        </where>
    </select>
</mapper>